<div class="container min-vh-100 ">
  <h1 class="title ms-3 mt-5 text-center mb-5">Mis Recetas</h1>
  <div class="text-center justify-content-center mt-5">
    <button class="btn btn-outline-primary " routerLink="crearReceta">
      <h5>Crear Receta +</h5>
    </button>
  </div>
  <router-outlet></router-outlet>

  <div class="row pt-5 m-auto">
    <div *ngFor="let receta of recetas" class="col-md-6 col-lg-4 pb-3 mb-2">
      <div class="card card-custom bg-white border-white border-0">
        <!-- Imagen de la receta -->

        <div *ngIf="receta.imagen == null" class="card-custom-img"
          style="background-image: url('http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg');">
        </div>
        <div *ngIf="receta.imagen !== null" class="card-custom-img"
          style="background-image: url('{{receta.imagen}}');">
        </div>
        <div class="card-custom-avatar">
          <img class="img-fluid" src="assets/icons8-receta-100.png" alt="img-local" />
        </div>
        <div class="card-body" style="overflow-y: auto">
          <h4 class="card-title">{{receta.nombre}}</h4>
          <p class="card-text">Para {{receta.numRaciones}} persona/s<br>
            </p>
        </div>

        <div class="card-footer" style="background: inherit; border-color: inherit; justify-items: center;">
          <button class="btn btn-outline-primary mb-3" [routerLink]="['../verReceta', receta.idReceta]">Ver</button> &nbsp;&nbsp;

          <button class="btn btn-outline-dark mb-3"  (click)="irAModificar()" #botonModificarReceta
          [routerLink]="['modificarReceta', receta.idReceta]">Modificar Receta</button> &nbsp;&nbsp;

          <button class="btn btn-warning mb-3" (click)="borrarReceta(receta.idReceta!)">Borrar Receta</button>
        </div>
      </div>
    </div>
  </div>
</div>
