<div class="container">
  <div class="row m-5 no-gutters shadow-lg ">
    <div class="col-md-6 d-none d-md-block">
      <img src="../../assets/pexels-cottonbro-studio-4253312.jpg" class="img-fluid"
        style="min-height:100%; margin-left: -11px;" />
    </div>

    <div class="col-md-6 bg-white p-5 cartaRegistro">
      <h3 class="pb-3 mt-5">Mi Perfil</h3>

      <div class=" pb-3">
        Nombre: {{usuario.nombre}}
      </div>

      <div class=" pb-3">
        Apellidos: {{usuario.apellidos}}
      </div>

      <div class=" pb-3">
        DNI: {{usuario.dni}}
      </div>

      <div class="pb-3">
        Correo electrónico: {{usuario.email}}
      </div>

      <div class=" pb-3">
        Teléfono: {{usuario.telefono}}
      </div>

      <div class=" pb-3">
        Fecha de creación de la cuenta: {{usuario.fechaCreacion}}
      </div>


      <div class="pb-2">
        <button routerLink="../modificarPerfil" class="btn btn-warning w-100 font-weight-bold mt-2">Modificar Perfil</button>
      </div>



    </div>
  </div>

</div>
