<section class="get-in-touch ">
  <h1 class="title">Modifica tu Hoja de Pedido</h1>
  <form class="contact-form row" needs-validation [formGroup]="formModificarHoja" (ngSubmit)="modificarHoja()">
    <div class="form-field col-lg-6">
      <select name="local" class="form-select" formControlName="local" id="local" (change)="obtenerLocal()">
        <option *ngFor="let local of locales" [value]="local.idLocal">
          {{local.nombreLocal}}
        </option>
      </select>
      <label class="label local" for="local">Local</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="emailProveedor" class="input-text js-input" formControlName="emailProveedor" type="email" required>
      <label class="label" for="emailProveedor">Email del proveedor</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="fechaPedido" class="input-text js-input" formControlName="fechaPedido" type="date" required>
      <label class="label" for="fechaPedido">Fecha de pedido</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="fechaEntrega" class="input-text js-input" formControlName="fechaEntrega" type="date">
      <label class="label" for="fechaEntrega">Fecha de entrega</label>
    </div>
    <div class="form-field col-lg-2 ">
      <input id="completado" class="input-text js-input form-check-input" formControlName="completado" type="checkbox">
      <label class="label" for="completado">Completado</label>
    </div>



    <div class="dropdown " class="dropdown-content d-block">


      <form class="d-flex" needs-validation [formGroup]="formCrearHojaIngrediente">
        <div class="mt-3 form-field col-lg-4 p-2">
          <input type="text" placeholder="Buscar" id="buscador" (keyup)="listarIngredientes($event)"
            class="input-text js_input">
          <select name="lista" class="form-select" formControlName="ingrediente" id="lista">
            <option>Ingredientes disponibles:</option>
            <option *ngFor="let ingrediente of ingredientes" [value]="ingrediente.idIngrediente">
              {{ingrediente.nombreIngrediente}}
            </option>
          </select>
        </div>

        <div class="mt-3 form-field col-lg-2 p-3">
          <input type="number" id="cantidad" formControlName="cantidad" class="input-text js_input">
          <label class="" style="font-size: 18px;" for="cantidad">Cantidad</label>
        </div>
        <div class="mt-3 form-field col-lg-2 p-3">
          <input type="text" placeholder="gr, kg, l, cl, ml" id="udMedida" formControlName="udMedida"
            class="input-text js_input">
          <label class="" style="font-size: 18px;" for="udMedida">Unidad de Medida</label>
        </div>
        <div class="mt-3 form-field col-lg-2 p-3 ">
          <input type="number" id="precioUnitario" formControlName="precioUnitario" class=" input-text js_input">
          <label class="" style="font-size: 18px;" for="precioUnitario">Precio Unitario</label>
        </div>
        <div class="mt-3 form-field col-lg-2 p-3">
          <input type="number" id="precioTotal" formControlName="precioTotal" class=" input-text js_input">
          <label class="" style="font-size: 18px;" for="precioTotal">Precio Total</label>
        </div>
        <div>
          <button (click)="crearHojaIngrediente()" class="btn btn-dark mt-3 form-field p-3">Agregar Ingrediente</button>
        </div>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Ingrediente</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Unidad de medida</th>
            <th scope="col">Precio Unitario</th>
            <th scope="col">Precio Total</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingrediente of listaHojaIngrediente">
            <th scope="row">{{ingrediente.ingrediente!.nombreIngrediente}}</th>
            <td>{{ingrediente.cantidad}}</td>
            <td>{{ingrediente.udMedida}}</td>
            <td>{{ingrediente.precioUnitario}}</td>
            <td>{{ingrediente.precioTotal}}</td>
            <td>
              <button class="btn btn-warning" (click)="borrarHojaIngrediente(ingrediente.ingrediente!.nombreIngrediente)">Borrar</button>
             </td>
          </tr>

        </tbody>
      </table>


    </div>


    <div class="form-field col-lg-12">
      <button class="submit-btn" type="submit">Modificar Hoja</button>
    </div>
  </form>
</section>

