<div class="landing min-vh-100 height-fit-content z-n1 pb-5">
  <div class="d-flex flex-row  justify-content-center">
    <img src="assets/logoSinLetra-removebg-preview.png" class="logo logofoto" alt="Logotipo">
    <div class="display-1 logonombre " style="font-family: 'Lobster', cursive;">ReciBook</div>
    <img src="assets/Logocompleto-removebg-preview.png" class="logocompleto logo" alt="Logotipo">
  </div>

  <div id="carouselLanding" class="carousel slide carousel-fade">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselLanding" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Primera Imagen"></button>
      <button type="button" data-bs-target="#carouselLanding" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselLanding" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active imgPadre">
        <img src="assets/fondo-productos-mesa-madera.jpg" class=" d-block w-100 imgCarrusel " alt="img1">
        <div class="carousel-caption d-sm-block d-md-block text-light">
          <h5 class="data-bs-backdrop">Cree sus propias recetas</h5>
          <p>Obtenga acceso a los documentos que necesite en su cocina desde su espacio personal</p>
        </div>
      </div>
      <div class="carousel-item imgPadre">
        <img src="assets/pexels-rene-asmussen-2544829.jpg" class="d-block w-100 imgCarrusel" alt="img2">
        <div class="carousel-caption d-sm-block d-md-block text-light">
          <h5 class="data-bs-backdrop">¿Es hostelero?</h5>
          <p>Regístrese, guarde aquí sus locales y realice hojas de pedido a su proveedor</p>
        </div>
      </div>
      <div class="carousel-item imgPadre">
        <img src="assets/pexels-roman-odintsov-4551832.jpg" class="d-block w-100 imgCarrusel" alt="img3">
        <div class="carousel-caption d-sm-block d-md-block  text-light">
          <h5 class="data-bs-backdrop">Recetas, Escandallos y Hojas de pedido</h5>
          <p>Puede crear y consultar documentos profesionales o realizar recetas para su día a día </p>
        </div>

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLanding" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLanding" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

  <br>

  <div class="row featurette">
    <div class="col-md-7  mt-5  justify-content-center">
      <h2 class="featurette-heading fw-normal lh-1">Haga de este entorno su libro de cocina</h2>
      <p class="lead">¡Todas sus recetas en un mismo lugar! Cree sus recetas y guardelas. Podrá modificarlas si
        tienen algún error o acceder a ellas las veces que lo necesite.</p>
      <p class="lead">También podrá consultar recetas que hayan creado otros usuarios.</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        src="assets/pexels-anna-shvets-12674025.jpg" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 mt-5 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1 ms-3">¿Eres cocinero o pertenece al mundo de la hostelería?</h2>
      <p class="lead">Puede crear aquí sus propios escandallos y así calcular el beneficio de los productos que ofrece.
      </p>
      <p class="lead">¿Necesita realizar un pedido a su proveedor? Vincule los datos necesarios de su empresa en nuestro
        menú y realice su hoja de pedidos personalizada.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        src="assets/pexels-elevate-1267320.jpg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">

    </div>
  </div>
</div>
