.offcanvas{
  width: 15em;
   background: white;

}

.offcanvas-body{
  overflow: hidden;

}

.nav-link{
  color: #4A97F8 ;
}

.menu{
  z-index: 5;
  width: fit-content;
  height: fit-content;
}

.btnmenu{
  background-color: #ffffff91;
  position: fixed;
}

@media (max-height: 615px) {
  .offcanvas-body{
    overflow-y: scroll;
  }


}
@media (max-width: 820px) {
  .btnmenu{
    margin-left: -20px;
    margin-top: -20px;
  }

}
